._4-n8{float:right;margin-left:5px;margin-top:0}
._3bzr{padding-top:12px;position:relative}._3bzs{border-radius:4px;height:36px;margin-right:12px;width:36px}._3bzw{line-height:34px;margin-left:20px}

#bootloader_8kgYh{height:42px;}.bootloader_8kgYh{display:block!important;}