._1v5u{min-height:700px}
.sp_V53xxlprDHX_2x{background-image:url(/rsrc.php/v3/yA/r/2OGjl-mMZCe.png);background-size:19px 36px;background-repeat:no-repeat;display:inline-block;height:17px;width:18px}.sp_V53xxlprDHX_2x.sx_85ef4e{background-position:0 0}.sp_V53xxlprDHX_2x.sx_4fbfa4{background-position:0 -18px}

#bootloader_u_4iU{height:42px;}.bootloader_u_4iU{display:block!important;}