._2ll0{align-items:center;border-bottom:1px solid rgba(0, 0, 0, .10);display:flex}._2ll0 ._2rt2{flex-grow:2}
._33zx{align-items:center;border-bottom:1px solid rgba(0, 0, 0, .10);display:flex}._33zx ._2rt2{flex-grow:2}
._32ly{border-bottom:1px solid rgba(0, 0, 0, .10)}._32lz{align-items:center;display:flex;justify-content:space-between}._32l-{color:#90949c;font-size:12px}
._4y_j{align-items:center;border-bottom:1px solid rgba(0, 0, 0, .10);display:flex}._4y_j ._2rt2{flex-grow:2}

#bootloader_YNNKk{height:42px;}.bootloader_YNNKk{display:block!important;}