<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/Hack2.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
</head>
<body>
	 <div class="topnav">
 		<a href="{{ url_for('index') }}">Our Prediction</a>
        <a href="{{ url_for('map') }}">Map</a>
  		<a href="{{ url_for('news') }}">News</a>
  		<a href="{{ url_for('developers') }}">Developers</a>

	</div>


	<div class="jumbotron" id="intro">
	  <h1 class="display-4" id="topic">Developers</h1>
	  <hr class="my-4">
	  <p>We are from the University of Southampton and we made this in 24 hours!!!</p>
	</div>

	<div class="row" id="grid1">

	    	<div class="col" id="Chittawat">
				<img class="center-fit" src="../static/Pictures/Chittawat2.jpg">
				<h1 id="name">Chittawat Pourpongpan</h1>
	    	</div>

	    	<div class="col" id="Thitaree">
     		 	<img class="center-fit" src="../static/Pictures/Thitaree.jpg" >
     		 	<h1 id="name">Thitaree Udomsapaya</h1>
    		</div>

	    	<div class="col" id="Kostas">
				<img class="center-fit" src="../static/Pictures/Kostas.jpg">
				<h1 id="name">Konstantinos Papadopoulos</h1>
	    	</div>
 	</div>
 	<div class="row" id="grid2">
 		<div class="col" id="Kacper">
			<img class="center-fit" src="../static/Pictures/Kacper.jpg">
			<h1 id="name">Kacper Kubara</h1>
	    </div>
	   	<div class="col" id="Marcin">
			<img class="center-fit" src="../static/Pictures/Marcin.jpg">
			<h1 id="name">Marcin Więch</h1>
    	</div>
 	</div>



	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>