<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<p>Hello, {{ output }}!</p>

<script type=text/javascript>
        $(function() {
          $('a#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>


//button
<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div>


<button type="button" onClick="refreshPage()">Close</button>


<div id="demo">
  <h2>Let AJAX change this text</h2>
  <button type="button" onclick="loadDoc()">Change Content</button>
</div>

<script>
function refreshPage(){
    window.location.reload();
}

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("demo").innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "output", true);
  xhttp.send();
}
</script>


<form action="{{ url_for('index') }}" method="post">
    <input type="text" placeholder="temperature C" name="temperature">
    <input type="text" placeholder="humidity" name="humidity">
    <input type="text" placeholder="wind (km/h)" name="wind">
    <input type="text" placeholder="rain (mm/m^2)" name="rain">


    <input type="submit">
</form>

{#<form method="POST">#}
{#    <input name="text">#}
{#    <input type="submit">#}
{#</form>#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>