<!DOCTYPE html>
<html>
<head>
	<title>Wildfire Prediction Tool</title>
	<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/Hack2.css">
	<script src="../static/countries.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC" rel="stylesheet">
</head>


<body>
    < <div class="topnav">
 		<a href="{{ url_for('index') }}">Our Prediction</a>
        <a href="{{ url_for('map') }}">Map</a>
  		<a href="{{ url_for('news') }}">News</a>
  		<a href="{{ url_for('developers') }}">Developers</a>

	</div>
    <div class="jumbotron" id="intro">
	  <h1 class="display-4" id="topic">Forest Fire News</h1>
	  <hr class="my-4">
	</div>

    <div class="row" >


        {% for post in json %}
        <div class="col-md-3" id="newsBlock" style="margin-top: 10px">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{post['urlToImage']}}" alt="">
        <div class="card-body">
        <h5 class="card-title">{{post['title']}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="{{post['url']}}" class="btn btn-primary">Learn more</a>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>



</body>
</html>